
#nyan {
    background-color: #003366;
    padding: 0px;
    margin: 0px;
}

img.droid0 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid1 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid2 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid3 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid4 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid5 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid6 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid7 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid8 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid9 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid10 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid11 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid12 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid13 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid14 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}

img.droid15 {
    position: relative;
    transition: all 6s linear;
    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -ms-transition: all 6s linear;
    -o-transition: all 6s linear;
}